<?xml version="1.0"?>
<model>
  <name>Model_Tutorial</name>
  <version>1.0</version>
  <sdf version="1.4">caster_robot.sdf</sdf>
  <sdf version="1.5">4w_robot.sdf</sdf>

  <author>
    <name>Shuhei Kozasa</name>
    <email>kozasa0820jps@gmail.com</email>
  </author>

  <description>
    Following the tutorial @ gazeboism.org/tutorials?tut=model_contrib&cat=build_robot
  </description>
</model>
