<?xml version='1.0'?>

<model>
  <name>cylinder</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Shu</name>
    <email>kozasa0820jps@gmail.com</email>
  </author>

  <description>
    Following the tutorial at gazeboism.org/tutorials?tut=plugins_world&cat=write_plugin
    And this is a simple cylinder.
  </description>
</model>
