<?xml version="1.0"?>
<model>
  <name>Model_Model</name>
  <version>1.0</version>
  <sdf version="1.6">model_model.sdf</sdf>

  <author>
    <name>Shuhei Kozasa</name>
    <email>kozasa0820jps@gmail.com</email>
  </author>

  <description>
    Following the tutorial @ gazeboism.org/tutorials?tut=nested_model&cat=build_robot
  </description>
</model>
